<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title> {% block title %}Main{% endblock title %} | Restaurant</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <nav>
            <a href="{% url "index" %}" class='heading'>Restaurant</a>
            <ul>
                <li><a>Ingredients</a></li>
                <li><a>Purchase</a></li>
                <li><a class='sign' href="{% url "signup" %}">Sign up</a></li>
                <li><a class='log' href="{% url "login" %}">Login</a></li>
            </ul>
        </nav>
        {% block content %}
        <h1>Hello World</h1>
        <a href="{% url "next" %}" class="btn">Button</a>
        {% endblock content %}
    </body>
</html>