h1{
    color: yellow;
}

.btn{
    color: black;
    text-decoration-line: none;
}

.btn2{
    color: aquamarine;
    text-decoration-line: none;
}
nav{
    background-color: darkgray;
}
ul{
    display: flex;
}